html {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}

body:not(.day):not(.night) > div > :not(.loading) {
    display: none !important;
}

body.day .loading, body.night .loading {
    display: none !important;
}

body {
    padding: 20px 0;
}

.text-center {
    text-align: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-30 {
    margin-bottom: 30px;
}

body.day {
    background: rgb(54,116,207);
    background: linear-gradient(32deg, rgba(54,116,207,1) 0%, rgba(162,223,251,1) 100%);
    color: #fff;
    text-shadow: 1px 1px 20px #044A69;
}

body.night {
    background: rgb(2,19,75);
    background: linear-gradient(35deg, rgba(2,19,75,1) 0%, rgba(61,88,177,1) 100%);
    color: #fff;
}

body.day #future-temp {
    background-color: #0f61a885;
}

body.night #future-temp {
    background-color: #3d539e85;
}

#future-temp {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 15px;
    border-radius: 10px;
}

#weathercode {
    margin: -20px;
}

.min-max-block,
.sunrise-sinset-block {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sunrise-sinset-block {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.141);
    padding: 15px 30px;
    border-radius: 10px;
}

.wind {
    background-color: rgba(255, 255, 255, 0.141);
    padding: 15px 30px;
    border-radius: 10px;
}

.humidity {
    background-color: rgba(255, 255, 255, 0.141);
    padding: 15px 30px;
    border-radius: 10px;
}

.other {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 20px;
    justify-content: center;
}